body {
  margin: 0px;
  background-color: #16372C;
  color: #925636;
  font-family: 'Sacramento';
}

.row {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* background-color:rgb(5, 49, 43); */
  /* background-color:#2f493d; */
  height: auto;
  width: 100vw;
  /* position: absolute; */
}

.page {
  position: absolute;
}

.left {
  width: 50%;
  background-image: url(images/profile_square.jpeg);
  background-size: cover;
  background-position: center;
}

.right {
  width: 50%;
  /* background-color: crimson; */
}

.content {
  margin: 5% 5% 0 5%;
  /* margin: 50px; */
}

.tagline {
  color: #ad9064;
  font-size: 10vw;
  line-height: 1;
  font-family: 'Sacramento';
  /* border: black 2px solid; */
}

#tag0 {
  color: #925636;
  font-size: 2vw;
  font-family: 'IBM Plex Serif', serif;
  line-height: 1.5;
  /* border: black 2px solid; */
}

#tag1 {
  color:#be7676;
  font-family: 'Sacramento';
}

#tag2 {
  color: rgb(182, 159, 159);
  /* font-family: Courier, monospace; */
  /* line-height:0; */
}

/* #tag3 {
  font-family: 'Times New Roman', Times, serif;
} */


.content-bio {
  /* padding: inherit; */
  color:#925636;
  font-size: 2vw;
  font-family: 'IBM Plex Serif', serif;
  /* line-height: 1vw; */
}

.content-bio .link:hover {
  color:#ad9064;
}

a {
  color: inherit;
  /* text-decoration: none; */
}


.fa {
  padding: 10px;
  font-size: 100px;
  width: 35px;
  text-align: center;
  text-decoration: none;
  margin: 0px 10px;
  border-radius: 50%;
}

.fa-facebook:hover {
  background: #3B5998;
  color: white;
}

.fa-reddit:hover {
  background: #ff5700;
  color: white;
}

.fa-reddit-alien:hover {
  background: #ff5700;
  color: white;
} 
.fa-instagram:hover {
  /* background: #125688; */
  color: white;
  background: #f09433; 
background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.fa-linkedin:hover {
  background: #007bb5;
  color: white;
}

.fa-envelope:hover {
  background: #B23121;
  color: #DADADA;
}

.fa-github:hover {
  color: white;
  background: #211F1F;
}

footer {
  text-align: center;
  margin-top: 40px;
  padding: 10px;
  /* background-color: #1C160D; */
  color: #925636;
}

* {
  box-sizing: border-box;
}

.row-grid {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
  background-color: wheat;
  /* height: auto; */
}

/* Create four equal columns that sits next to each other */
.column-grid {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  margin-bottom: 8px;
}

.column-grid img {
  margin-top: 8px;
  /* margin-bottom: 8px; */
  vertical-align: middle;
  width: 100%;
  transition: transform .2s; /* Animation */
}

img:hover {
  transform: scale(1.2);
}

#floatingbubbles {
  width: 100%;
  height: 100%;
}